.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
  }
  
  .headerContainer.listMode {
    margin: 20px 0px 0px 0px;
  }
  
  .headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
  }
  
  .headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
  
  .headerDesc {
    margin: 20px 0px;
  }
  
  .headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
  }
  
 
  
  .headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  .headerSearchText {
    color: lightgray;
    cursor: pointer;
  }
  
  .date {
    position: absolute;
    top: 50px;
    z-index: 2;
  }
  
  .options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }


  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }

  .searchBar{
    align-items: center;
  }

  .searchItems{
    display: flex;
    padding: 10px 0px;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    position: absolute;
    bottom: -25px;
    background-color: white;
    border: 3px solid #febb02;
    height: 30px;
    
  }

  .search{
    align-items: center;
    display: flex;
    padding: 10px;
    gap: 10px;
    border-right: 3px solid #febb02;
    height: 35px;
    width: 40%;
  }

  .searchIcon {
    color: lightgray;
  }

  .searchInput {
    border: none;
    outline: none;
    width: 100%;
  }

  .dateSelector{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 3px solid #febb02;
    height: 35px;
    padding: 10px;
    
  }
  .dateSelectorText{
    color: black;
    font-size: 14px;
  }

  .roomSelector{
    display: flex;
    gap: 10px;
    align-items: center;
    border-right: 3px solid #febb02;
    height: 35px;
    padding: 10px;
    
  }

  .searchButton{
    flex: 1;
    height: 50px;
    width: 100%;
    padding: none;
    border: none;
    background-color: #0071c2;
    color: white;
  }